<!DOCTYPE html>
<head>
  <title>Home - SeoEngine</title>
</head>
<body>
  <form class="" action=#{url}scrape method="post" enctype="application/x-www-form-urlencoded">
    <textarea name="urls" rows="8" cols="80"></textarea>
    <button type="submit" name="send">Send</button>
  </form>
</body>
